body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
label{
    text-align: left;
    display: inline-block;
    width: 300px;
    color: green;
    font-size: larger;
}

.registrationPage{
    text-align: center;
}
form {
  border-style: solid;
  padding:20px;
}
